apiVersion: apps/v1
kind: Deployment
metadata:
  name: open-webui
spec:
  selector:
    matchLabels:
      app: open-webui
  template:
    metadata:
      labels:
        app: open-webui
    spec:
      volumes:
      - name: webui-volume
        persistentVolumeClaim:
          claimName: open-webui-pvc
      containers:
      - name: open-webui
        image: ghcr.io/open-webui/open-webui:v0.8.1
        ports:
        - containerPort: 8080
        env:
        - name: OLLAMA_BASE_URLS
          value: "http://ollama"
        volumeMounts:
        - name: webui-volume
          mountPath: /app/backend/data