apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      volumes:
      - name: audiobookshelf-config
        persistentVolumeClaim:
          claimName: audiobookshelf-config-pvc
      - name: audiobookshelf-audiobooks
        persistentVolumeClaim:
          claimName: audiobookshelf-audiobooks-pvc
      - name: audiobookshelf-metadata
        persistentVolumeClaim:
          claimName: audiobookshelf-metadata-pvc
      containers:
      - name: audiobookshelf
        image: advplyr/audiobookshelf:2.30.0
        ports:
        - containerPort: 80
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: audiobookshelf-config
          mountPath: /config
        - name: audiobookshelf-audiobooks
          mountPath: /audiobooks
        - name: audiobookshelf-metadata
          mountPath: /metadata