apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: vault
      version: "0.31.0"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: flux-system
  values:
    server:
      dev:
        enabled: true
      replicas: 0
